<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
             <div class="card-body">
                <label for="">Ingrese el nombre del curso para buscar</label>
                <input type="text" class="form-control" placeholder="Buscar curso"
                #buscarU
                (keyup)="buscar(buscarU.value)"
                >
             </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>{{title}}</h1>
                <div class="row">
                    <div class="col-md-6">
                        componentes buscar
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" routerLink="/nuevoUsuario">Nuevo</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombres y apellidos</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of listUsuarios">
                                <td>{{usuario.USR_ID}}</td>
                                <td>{{usuario.USR}}</td>
                                <td>{{usuario.USR_TIPO}}</td>
                                <td>
                                    <a href="" [routerLink]="['/usuario',usuario.USR_ID]" onclick="capturar()"><i class="mdi mdi-pencil"></i></a>  
                                    <i class="mdi mdi-delete" (click)="deleteUsuario(usuario)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>