

                <div class="row d-flex align-items-center  p-2 my-3 text-white rounded shadow-sm" style="background-color: #0d6efd !important">
                    <div class="col-md-8 ">
                        <label class="h5" for="">Nombres y Apellidos</label>
                        <hr>
                    </div>
                    <div class="col-md-4">
                        <label class="h5" for="">Calificación</label>
                        <hr>
                    </div>
                </div>

                <div class="container-sm">

     
               
                <form action="">
                    
                    <div class="row " *ngFor="let item of estudiantes">
                        <div class="col-md-8">
                          <label for="inputPassword6" class="col-form-label">{{item.nombres}}</label>
                        </div>
                        <div class="col-md-4">
                          <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">
                        </div>
                        <br>
                    </div>
                </form>

            </div>