<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2>UNIDAD EDUCATIVA FRAY BARTOLOMÉ DE LAS CASAS</h2>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success"> Editar</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h3>Misión</h3>
                        <p>LOAD MISION DE LA INSITITUCIÓN</p>
                    </div>
                    <div class="col-6">
                        <div>
                            <img src="../../../../assets/escudo-FBDCS.jfif" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>Visión</h3>
                        <p>LOAD VISION DE LA INSTITUCIÓN</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>