<div class="card">
    <div class="card-body">
        <h1>Paralelos</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs customtab2" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home7" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Paralelos</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile7" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Asignar paralelos</span></a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home7" role="tabpanel">
                <div class="p-20">
                    <h3>Best Clean Tab ever</h3>
                    <h4>you can use it with the small code</h4>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                </div>
            </div>
            <div class="tab-pane  p-20" id="profile7" role="tabpanel">
                <app-asignar-paralelo-est></app-asignar-paralelo-est>
            </div>
        </div>
    </div>
</div>