<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>{{title}}</h1>
  
                <div class="row animated fadeIn fast">
                    <div class="col-12">
                        <div class="card">
                             <div class="card-body">
                                <label for="">Ingrese el nombre del curso para buscar</label>
                                <input type="text" class="form-control" placeholder="Buscar curso"
                                #buscarAL
                                (keyup)="buscar(buscarAL.value)"
                                >
                             </div>
                        </div>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Periodos</th>
                                <th>Subperiodos</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr *ngFor="let anio of listAnios">
                                <td><a href="javascript:void(0)">{{anio.AL_ID}}</a></td>
                                <td>{{anio.AL_INI}}</td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ anio.AL_FIN}}</span> </td>
                                <td>{{anio.AL_PRD}}</td>
                                <td>{{anio.AL_SUB_PRD}}</td>
                                <td>{{anio.AL_ESTADO}}</td>
                                <td><a href="" [routerLink]="['/edit-al',anio.AL_ID]"><i class="mdi mdi-pencil"></i></a> <a href=""><i class="mdi mdi-delete"></i></a></td>
                            </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>    
</div>    