<div class="card text-start border border-0 rounded shadow">
    <div class="card-body">
        <h2 class="card-title">Usuario</h2>
        <hr class="border border-secondary opacity-25">
        <form (ngSubmit)="guardarUsuario()">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="nomU">Cédula del ususario:</label>
                    <input type="text" class="form-control form-control-line"
                    name="nomU"
                    #nomU="ngModel"
                    [(ngModel)]="usuario.USR_DNI">
                </div>
                <div class="form-group col-md-6">
                    <label for="ape">Usuario:</label>
                    <input type="text" class="form-control form-control-line"
                    name="apeU"
                    #apeU="ngModel"
                    [(ngModel)]="usuario.USR">
                </div>
            </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="pswdU">Correo:</label>
                        <input type="password" class="form-control"
                        name="emailU"
                        #pswdU="ngModel"
                        [(ngModel)]="usuario.USR_PSWD">
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label for="tipoU">Tipo:</label>
                            <input type="text" class="form-control form-control-line"
                            name="TipoU"
                            #TipoU="ngModel"
                            [(ngModel)]="usuario.USR_TIPO">
                        </div>                     
                    </div>

                    <div class="col-md-4">
                        <label for="" class="form-label pb-2">Estado</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
                            name="est"  (change)="onChangeCheck($event)">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>
                          </div>
                      </div>

                </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success m-r-10"> Guardar
                </button>
                <button type="button" class="btn btn-inverse" routerLink="">Cancel</button>
            </div>
        </form>
    </div>
{{usuario|json}}

</div>