<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>{{title}}</h1>
                <span>componente buscar</span>
                
                <div  class="table-responsive">
                    <div class="col-md-6">
                        <button class="btn btn-success" routerLink="/nuevo_alumno">Nuevo</button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cédula</th>
                                <th>Nombres y apellidos</th>
                                <th>Curso</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let alumno of Alumno">
                                <td><a href="javascript:void(0)">{{alumno.id}}</a></td>
                                <td>{{alumno.ced}}</td>
                                <td>{{alumno.apeP}}""{{alumno.apeM}}" "{{alumno.nom1}}" "{{alumno.nom2}}</td>
                                <td>{{alumno.gen}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    {{Alumno|json}}
                </div>
            </div>
        </div>
    </div>
</div>