<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
             <div class="card-body">
                <label for="">Ingrese el nombre del curso para buscar</label>
                <input type="text" class="form-control" placeholder="Buscar curso"
                #buscarN
                (keyup)="buscar(buscarN.value)"
                >
             </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <h1>{{title}}</h1>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Número</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr *ngFor="let curso of listCursosA">
                                <td><a href="javascript:void(0)">{{curso.CRS_ID}}</a></td>
                                <td>{{curso.CRS_NOM}}</td>
                                <td>{{ curso.CRS_TIP}}</td>
                                <td>{{curso.CRS_ESTADO}}</td>
                                <td> <a href="" [routerLink]="['/curso',curso.CRS_ID]"><i class="mdi mdi-pencil"></i></a> <a href=""><i class="mdi mdi-delete"></i></a></td>
                               
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
