<div class="modal-header border-0">
	<!-- <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('cancel')"  tabindex="-1">
	</button> -->
  </div>
<div class="modal-body border-0 text-center">
	<h4 class="modal-title text-center">{{contenido}}</h4>
	<i class="fa fa-question-circle text-info fa-4x"></i>
</div>
<div class="modal-footer border-0 justify-content-center">
	<button type="button" class="btn btn-primary" (click)="closeModal('save')">Aceptar</button>
	<button type="button" class="btn btn-secondary" (click)="closeModal('cancel')">Cancelar</button>

</div>
